<a href="https://colab.research.google.com/github/mrinChanSIT/MachineLearning_CW_Experimentation/blob/main/MachineLearning_CW_Experimentation/Colab-Notebooks/2_5_Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in Python:
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

1. Arithmetic Operators

In [1]:
num_1 = 20
num_2 = 10

# addition
sum = num_1 + num_2
print('sum = ',sum)

# subtraction
diff = num_1 - num_2
print('difference = ',diff)

# multiplication
pro = num_1 * num_2
print('product = ',pro)

# division
quo = num_1 / num_2
print('quotient = ',quo)

# exponent
exp = num_1**num_2   # 20^10
print('exponent = ',exp)

# modulus
mod = num_1 % num_2
print('reminder = ',mod)

sum =  30
difference =  10
product =  200
quotient =  2.0
exponent =  10240000000000
reminder =  0

2. Assignment Operators

+=

-=

*=

**=

/=

%=

In [2]:
a = 5
print(a)

5

In [3]:
a = 5
a += 5   # a = a + 5
print(a)

10

In [4]:
b = 5
b -= 2   # b = b-2
print(b)

3

3. Comparison Operators

In [5]:
a = 5
b = 10

print(a == b)   # equal to
print(a != b)   # not equal to
print(a > b)    # greater than
print(a < b)
print(a <= b)
print(a >= b)

False
True
False
True
True
False

4. Logical Operators

and

or

not

In [6]:
a = 10

print( a>20 and a>5)
print( a>20 or a>5)
print( not( a>8 and a>5))

False
True
False

5. Identity Operator:

is

is not

In [7]:
x = 5
y = 5

print(x is y)

True

In [8]:
x = 5
y = 10

print(x is y)

False

In [9]:
x = 5
y = 5

print(x is not y)

False

In [10]:
x = 5
y = 10

print(x is not y)

True

6. Membership Operator:

in

not in

In [11]:
a = 5
b =10

c = [1,2,3,4,5]
print( a in c)
print( b in c)

True
False

In [12]:
a = 5
b =10

c = [1,2,3,4,5]
print( a not in c)
print( b not in c)

False
True